.imagen-producto {
    width: auto !important;
    height: 15rem;
    margin: auto;
}

.card-margin {
    margin: 1rem;
}

.current-category a{
    text-decoration: none !important;
}

.category {
    text-decoration: none !important;
}